{#{% from 'cr-alert' import alert %}#}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jinjava Sample</title>
    <script src="https://unpkg.com/htmx.org@2.0.2/dist/htmx.js" integrity="sha384-yZq+5izaUBKcRgFbxgkRYwpHhHHCpp5nseXp0MEQ1A4MTWVMnqkmcuFez8x5qfxr" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Hello, {{ name }}!</h1>

{#    {% include 'cr-icon' %}#}
</body>
</html>
